<div class="flex-container">
    <div id="volver">
        <a href="https://zamarareyes.github.io/CmrMarvel/"><i class="fa fa-angle-left"></i>Volver</a>
    </div>
    <div class="personal">
        <h2>Datos Personales</h2>
        <img src="{{user.photo}}">
        <p><span>Nombre: </span>{{user.name}}</p>
        <p><span>Teléfono: </span>{{user.telephone}}</p>
        <p><span>Email: </span>{{user.email}}</p>
    </div>
    <div class="personal">
        <h2>Gifs Favoritos</h2>
    </div>
    <div class="personal">
        <h2>Comics Favoritos</h2>
    </div>
</div>